{% extends 'base.html.twig' %}

{% block title %}
    {% if active %}
    Запрос одобрен
    {% else %}
    Запрос отклонён
    {% endif %}
{% endblock %}

{% block body %}
    {% if active %}
        <h1>
            Спасибо, Ваш запрос принят, доступ к просмотру оборотов предоставлен {{ app.user.parent.name }} {{ app.user.parent.surname }} {{ app.user.parent.username }}.
        </h1>
        <h1>
            Внимание!- запрос на одобрение считается выполненным и чек-бокс в разделе Настройки в профиле пользователя - принимает состояние - установлен.
        </h1>
    {% else %}
        <h1>
            Вы отклонили запрос на доступ к просмотру оборотов.
        </h1>
        <h1>
            Внимание!- запрос на одобрение считается не выполненным и чек-бокс в разделе Настройки в профиле пользователя - принимает состояние - не установлен.
        </h1>
    {% endif %}
{% endblock %}
